# Eclipse IDE files
**/.classpath
**/.project
**/.settings/
# src/main/resources/
# intellij IDE files
**/*.iml
**/.idea/
**/*.log
# Apple OS X related
**/.DS_Store

# build generated
**/target/
**/build/

# intermediately generated locally
**/logs/

result/result.json
#*.jar
*.gz
*.tar.gz
*.tar
/lib

/target/
/perform.db
